POSTGRES_DB=questlog
POSTGRES_USER=questlog
POSTGRES_PASSWORD=questlog
POSTGRES_PORT=5432

JWT_SECRET=YOUR_BASE64_ENCODED_SECRET_HERE
JWT_EXPIRATION=3600000

IGDB_CLIENT_ID=YOUR_TWITCH_CLIENT_ID
IGDB_CLIENT_SECRET=YOUR_TWITCH_CLIENT_SECRET